<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Car Brands</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" placeholder="Enter Brand" showCancelButton="never" animated></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScrollStart)="logScrollStart()">

  <ion-card *ngFor="let carbrand of searchedItem" (click)="onClick(carbrandname = carbrand.name)" class="ion-activatable ripple-parent">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size-xs="9" size-sm="6">
            <h2 class="alphabhetContent">
              {{carbrand.name.charAt(0)}}
            </h2>
            <h2 class="carbrandName">
              {{carbrand.name.slice(1)}}
            </h2>
          </ion-col>
          <ion-col size-xs="3">
            <img src="{{carbrand.icon}}" width="50" height="50">
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ScrollToTop()" *ngIf="hideButton">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
