<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="primarytext">Low Stock</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div class="toptypebar">
    <ion-chip color="bladed">
      <ion-label class="primarytext" >Remote</ion-label>
    </ion-chip>
    <ion-chip color="keyshell">
      <ion-label class="primarytext" >Key Shell</ion-label>
    </ion-chip>
    <ion-chip color="mfkkeys">
      <ion-label class="primarytext" >MFK</ion-label>
    </ion-chip>
    <ion-chip color="kdremotes">
      <ion-label class="primarytext" >KD Remote</ion-label>
    </ion-chip>

  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="6" offset-lg="3">
  
  <ion-card *ngFor="let lowstockitem of lowstockItems; let i = index">
    <ion-card-content>
      <ion-row no-padding>
        <ion-col size-xs="6" size-md="6" size-lg="6">
          <ion-card-subtitle class="primarytext" id="boxNumber">BOX: {{lowstockitem.boxno}}</ion-card-subtitle>
          <ion-card-subtitle class="primarytext" color="medium">CODE:{{lowstockitem.tapsycode}}</ion-card-subtitle>
          <ion-button class="primarytext" size="small" shape="round" fill="solid" (click)="_stockadded(i, lowstockitemtapsycode = lowstockitem.tapsycode, 
          selecteditemtype = lowstockitem.itemtype, lowstockitemkey = lowstockitem.key)">Stock Added</ion-button>
        </ion-col>
        <ion-col size-xs="3" size-md="4" offset-md="1" size-lg="4" offset-lg="1">
          <img src="{{lowstockitem.image}}" width="120" height="120" />
        </ion-col>
      </ion-row>
    </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
