<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Low Stock</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="toptypebar">
    <ion-chip color="bladed">
      <ion-label color="bladed">Remote</ion-label>
    </ion-chip>
    <ion-chip color="keyshell">
      <ion-label color="keyshell">Key Shell</ion-label>
    </ion-chip>
    <ion-chip color="mfkkeys">
      <ion-label color="mfkkeys">MFK</ion-label>
    </ion-chip>
    <ion-chip color="kdremotes">
      <ion-label color="kdremotes">KD Remote</ion-label>
    </ion-chip>

  </div>
  
  <ion-card *ngFor="let lowstockitem of lowstockItems; let i = index">
  <ion-grid>
    <ion-card-content>
      <ion-row no-padding>
        <ion-col size="6" text-center>
          <ion-card-subtitle id="boxNumber">BOX: {{lowstockitem.boxno}}</ion-card-subtitle>
          <ion-card-subtitle color="medium">CODE:{{lowstockitem.tapsycode}}</ion-card-subtitle>
          <ion-button size="small" shape="round" fill="solid" (click)="_stockadded(i, lowstockitemtapsycode = lowstockitem.tapsycode, 
          selecteditemtype = lowstockitem.itemtype, lowstockitemkey = lowstockitem.key)">Stock Added</ion-button>
        </ion-col>
        <ion-col size="6">
          <img src="{{lowstockitem.image}}" width="120" height="120" />
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-grid>
</ion-card>
</ion-content>
