#boxNumber {
    font-size: 20px;
}

ion-button {
    width: 70%;
}

ion-chip {
    margin-top: 1rem;
}

.toptypebar {
    text-align: center;
}

.primarytext {
    font-family: futura-pt,sans-serif;
font-weight: 700;
font-style: normal;

}


.fontsize {
    font-size: 30px;
}