<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>All Remote Shells</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<ion-toolbar color="primary">
  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" placeholder="Search by Brand or Blade" showCancelButton="never"></ion-searchbar>
</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScrollStart)="logScrollStart()">
  <ion-card *ngFor="let remoteshell of searchedItem let i = index">
    <ion-grid>
      <ion-card-content>
        <ion-row no-padding>
          <ion-col size="6" text-center>
            <ion-card-subtitle color={{remoteshell.remotetype}} id="boxNumber">BOX: {{remoteshell.boxnumber}}</ion-card-subtitle>
            <ion-card-subtitle color="medium">BLADE:{{remoteshell.blade}}</ion-card-subtitle>
            <ion-card-subtitle color="medium">Buttons:{{remoteshell.buttons}}</ion-card-subtitle>
            <ion-card-subtitle color="medium">Notes:{{remoteshell.notes}}</ion-card-subtitle>
            <ion-button size="small" shape="round" (click)="_lowStock(i, lowStockRemoteShellTapsyCode = remoteshell.tapsycode)" disabled={{!remoteshell.inStock}}>LOW STOCK</ion-button>
          </ion-col>
          <ion-col size="6">
            <img src="{{remoteshell.image}}" width="120" height="120" />
            <ion-chip *ngIf="!remoteshell.inStock">
              <ion-label color="danger">Low Stock</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-grid>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ScrollToTop()" *ngIf="hideButton">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
